In [109]:
import pandas as pd
import numpy as np
import json
#important libraries are imported
#goal is to

In [110]:
 #this intiates the context based, automatically closes after its block finishes
#open action with path to JSON file --> utf-8 ensures reading of non ASCII characters
#as f ensures alias -> which can be used for loading

with open("C:/Users/ravir/Project 1/stations.json",encoding="utf-8") as f:
    data = json.load(f)
    
#data.keys() --> used to display major sections in JSON file
#output has types and features --> type describes overall structure and features has list of items
#in this no metadata is present
#normalise function helps in flattening nested dictionaries in JSON like data structures into tabular dataframe

JSON= pd.json_normalize(data["features"], sep = "_",max_level = 2) #here underscores as separator and flattens only upto 2 layers
JSON.to_csv("Station_data.csv",index = False)

In [111]:
df = pd.read_csv("C:/Users/ravir/Project 1/Station_data.csv")
df.head()

,type,geometry_type,geometry_coordinates,properties_state,properties_code,properties_name,properties_zone,properties_address,geometry
0,Feature,Point,"[75.4516454, 27.2520587]",Rajasthan,BDHL,Badhal,NWR,"Kishangarh Renwal, Rajasthan",NaN
1,Feature,NaN,NaN,NaN,XX-BECE,XX-BECE,NaN,NaN,NaN
2,Feature,NaN,NaN,NaN,XX-BSPY,XX-BSPY,NaN,NaN,NaN
3,Feature,NaN,NaN,NaN,YY-BPLC,YY-BPLC,NaN,NaN,NaN
4,Feature,Point,"[79.519746, 28.913427000000002]",Uttar Pradesh,KHH,KICHHA,NER,"Kichha, Uttar Pradesh",NaN

In [112]:
df.dropna(subset=["geometry_coordinates","properties_name"],inplace = True)
df.drop(columns =["type","geometry_type","properties_zone","geometry"], axis = 1,inplace =True)

In [113]:
df["geometry_coordinates"]= df["geometry_coordinates"].str.strip("[]")
df[["Latitudes","Longitudes"]] = df["geometry_coordinates"].str.split(",",expand = True)
df["Latitudes"] = df["Latitudes"].str.strip("[")
df["Longitudes"] =df["Longitudes"].str.strip("]")
df=df.drop("geometry_coordinates",axis =1 )
df["Latitudes"]= df["Latitudes"].astype(float)
df["Longitudes"]= df["Longitudes"].astype(float)
df

,properties_state,properties_code,properties_name,properties_address,Latitudes,Longitudes
0,Rajasthan,BDHL,Badhal,"Kishangarh Renwal, Rajasthan",75.451645,27.252059
4,Uttar Pradesh,KHH,KICHHA,"Kichha, Uttar Pradesh",79.519746,28.913427
5,Rajasthan,SRKN,Sherekan,"MDR 89, Rajasthan",74.434991,29.555198
6,Rajasthan,BKKA,Bhukarka,"Bhukarka, Rajasthan",74.751031,29.238227
7,Rajasthan,NHR,Nohar,"State Highway 36, Rajasthan",74.773628,29.192563
...,...,...,...,...,...,...
8985,NaN,SAMT,SALEM MARKET,NaN,78.142621,11.654084
8986,NaN,OML,OMALUR,NaN,78.046780,11.738554
8987,NaN,TOS,TOLASAMPATTI,NaN,77.979547,11.761619
8988,NaN,MCRD,MECHERI ROAD,NaN,77.921857,11.804211
8989,NaN,MTDM,METUR DAM,NaN,77.832008,11.807081

In [114]:
df.columns = ["Station State","Station Code","Station Name","Station Address","Latitudes","Longitudes"]
df

,Station State,Station Code,Station Name,Station Address,Latitudes,Longitudes
0,Rajasthan,BDHL,Badhal,"Kishangarh Renwal, Rajasthan",75.451645,27.252059
4,Uttar Pradesh,KHH,KICHHA,"Kichha, Uttar Pradesh",79.519746,28.913427
5,Rajasthan,SRKN,Sherekan,"MDR 89, Rajasthan",74.434991,29.555198
6,Rajasthan,BKKA,Bhukarka,"Bhukarka, Rajasthan",74.751031,29.238227
7,Rajasthan,NHR,Nohar,"State Highway 36, Rajasthan",74.773628,29.192563
...,...,...,...,...,...,...
8985,NaN,SAMT,SALEM MARKET,NaN,78.142621,11.654084
8986,NaN,OML,OMALUR,NaN,78.046780,11.738554
8987,NaN,TOS,TOLASAMPATTI,NaN,77.979547,11.761619
8988,NaN,MCRD,MECHERI ROAD,NaN,77.921857,11.804211
8989,NaN,MTDM,METUR DAM,NaN,77.832008,11.807081

In [33]:
!pip install pdfplumber

Collecting pdfplumber
  Downloading pdfplumber-0.11.7-py3-none-any.whl.metadata (42 kB)
Requirement already satisfied: pdfminer.six==20250506 in c:\users\ravir\anaconda3\lib\site-packages (from pdfplumber) (20250506)
Requirement already satisfied: Pillow>=9.1 in c:\users\ravir\anaconda3\lib\site-packages (from pdfplumber) (11.1.0)
Requirement already satisfied: pypdfium2>=4.18.0 in c:\users\ravir\anaconda3\lib\site-packages (from pdfplumber) (4.30.0)
Requirement already satisfied: charset-normalizer>=2.0.0 in c:\users\ravir\anaconda3\lib\site-packages (from pdfminer.six==20250506->pdfplumber) (3.3.2)
Requirement already satisfied: cryptography>=36.0.0 in c:\users\ravir\anaconda3\lib\site-packages (from pdfminer.six==20250506->pdfplumber) (44.0.1)
Requirement already satisfied: cffi>=1.12 in c:\users\ravir\anaconda3\lib\site-packages (from cryptography>=36.0.0->pdfminer.six==20250506->pdfplumber) (1.17.1)
Requirement already satisfied: pycparser in c:\users\ravir\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20250506->pdfplumber) (2.21)
Downloading pdfplumber-0.11.7-py3-none-any.whl (60 kB)
Installing collected packages: pdfplumber
Successfully installed pdfplumber-0.11.7

In [115]:
import pdfplumber
pdf_path ="C:/Users/ravir/Project 1/Railway_station_zone-category_wise_list.pdf"
station_data_with_state= []
with pdfplumber.open(pdf_path) as station_data_with_state_pdf:
    for page_num, page in enumerate(station_data_with_state_pdf.pages):
        table = page.extract_table()
        if table:
            for row in table[:]:
                station_data_with_state.append(row)

In [116]:
station_data_with_state = pd.DataFrame(station_data_with_state)
station_data_with_state.columns = station_data_with_state.iloc[0]
station_data_with_state = station_data_with_state.drop(station_data_with_state.index[0])
station_data_with_state.reset_index(drop = True,inplace = True)
station_data_with_state

,S No,Station Name,Station Code,Station\nCategory,Division,Zone,District,State
0,1,BHORAS BUDRUKH,BFJ,HG2,BHUSAWAL,CR,JALGAON,MAHARASHTRA
1,2,JAMNER,JMNR,HG2,BHUSAWAL,CR,JALGAON,MAHARASHTRA
2,3,ANJANGAON,ANJ,HG3,BHUSAWAL,CR,AMRAVATI,MAHARASHTRA
3,4,BANOSA,BASA,HG3,BHUSAWAL,CR,AMRAVATI,MAHARASHTRA
4,5,BHADSIVNI,BDKE,HG3,BHUSAWAL,CR,WASHIM,MAHARASHTRA
...,...,...,...,...,...,...,...,...
8472,8473,TAJPUR,TJP,NSG6,RATLAM,WR,UJJAIN,MADHYA PRADESH
8473,8474,TARANA ROAD,TAN,NSG6,RATLAM,WR,UJJAIN,MADHYA PRADESH
8474,8475,UNHEL,UNL,NSG6,RATLAM,WR,UJJAIN,MADHYA PRADESH
8475,8476,USRA,USRA,NSG6,RATLAM,WR,DOHAD,GUJARAT
8476,8477,VIKRAMNAGAR,VRG,NSG6,RATLAM,WR,UJJAIN,MADHYA PRADESH

In [125]:
station_data_with_state["Station Code"] = station_data_with_state["Station Code"].str.upper()
df["Station Code"] = df["Station Code"].str.upper()
station_merged = pd.merge(station_data_with_state, df[["Station Code","Latitudes","Longitudes"]], on = "Station Code", how = "left")
station_merged.drop("S No", axis =1, inplace = True)

In [128]:
station_merged.dropna(subset ="Latitudes", inplace = True)
station_merged.to_csv("Station_refined.csv", index = False)